.block-7 {
    border-radius: 4px;
    margin-bottom: 30px;
    padding: 30px;
    background: #fff;
    -webkit-box-shadow: 0px 24px 48px -13px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0px 24px 48px -13px rgba(0, 0, 0, 0.05);
    box-shadow: 0px 24px 48px -13px rgba(0, 0, 0, 0.05);
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease; }
    @media (max-width: 991.98px) {
      .block-7 {
        margin-top: 30px; } }
    .block-7 .heading-2 {
      font-size: 14px;
      text-transform: uppercase;
      letter-spacing: 1px;
      font-weight: 600; }
    .block-7 .price {
      margin: 0;
      padding: 0;
      display: block; }
      .block-7 .price sup {
        font-size: 24px;
        top: -1em;
        color: #b3b3b3; }
      .block-7 .price .number {
        font-size: 50px;
        font-weight: 600;
        color: #920000; }
    .block-7 .excerpt {
      margin-bottom: 20px;
      color: #000000;
      font-size: 40px;
      font-weight: 200;
      display: block;
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
      padding-bottom: 10px;
      font-family: "Poppins", sans-serif; }
    .block-7 .label2 {
      text-transform: uppercase; }
    .block-7 .pricing-text, .block-7 .pricing-text li {
      padding: 0;
      margin: 0; }
    .block-7 .pricing-text li {
      list-style: none;
      margin-bottom: 15px;
      color: #999999; }
      .block-7 .pricing-text li span.fa {
        color: #589167; }
    .block-7 .btn-primary {
      color: #fff;
      text-transform: uppercase;
      font-style: 16px;
      font-weight: 600;
      letter-spacing: 1px;
      width: 100%;
      margin: 0 auto; }
      .block-7 .btn-primary:hover, .block-7 .btn-primary:focus {
        background: #999999 !important;
        color: #fff;
        border-color: #999999; }
    .block-7:hover, .block-7:focus {
      -webkit-box-shadow: 0px 24px 48px -13px rgba(0, 0, 0, 0.11);
      -moz-box-shadow: 0px 24px 48px -13px rgba(0, 0, 0, 0.11);
      box-shadow: 0px 24px 48px -13px rgba(0, 0, 0, 0.11); }

.inline-group {
  max-width: 8rem;
  padding: .5rem;
}

.inline-group .form-control {
  text-align: center;
}

.form-control[type="number"]::-webkit-inner-spin-button,
.form-control[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.btn-primary{
  color: #000000;
  background-color: #960000 !important ;
  border-color:#690000 !important ;
}



